<h1>Sign up</h1>
<br>


<div class="form-signup">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group col-md-4 h4">
    <label for="inputEmail1">Email</label>
    <input type="email" class="form-control" id="inputEmail1" placeholder="Email"
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </input>
  </div>

  <div class="form-group col-md-4 h4">
    <label for="inputNickname1">Nickname</label>
    <input type="text" class="form-control" id="inputNickname1" placeholder="Nickname"
    <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
    </input>
  </div>

  <div class="form-row col-md-12 h4">
    <div class="form-group col-md-6">
      <label for="inputFirstName1">First name</label>
      <input type="text" class="form-control" id="inputFirstName1" placeholder="First name"
      <%= f.text_field :firstname, autofocus: true, autocomplete: "firstname" %>
      </input>
    </div>
    <div class="form-group col-md-6">
      <label for="inputLastName1">Last name</label>
      <input type="text" class="form-control" id="inputLastName1" placeholder="Last name"
      <%= f.text_field :lastname, autofocus: true, autocomplete: "lastname" %>
      </input>
    </div>
  </div>

  <div class="form-group col-md-6">
    <label class="h4" for="inputBirthday">Birthday</label>
    <br>
    <%= f.date_select :birthday, start_year: 1920, end_year: (Date.today.year - 18), use_short_month: true, order: [:day, :month, :year], prompt: true  %>
  </div>

  <div class="form-row col-md-12">
    <div class="form-group col-md-8 h4">
      <label for="inputBio1">Bio</label>
      <textarea type="text" class="form-control" id="inputBio1" placeholder="Bio" rows="6"
      <%= f.text_area :bio, autofocus: true %>
      </textarea>
    </div>
    <div class="from-group col-md-4">
      <label class= "h4" for="inputAvatar1">Avatar</label>
      <%= image_tag(resource.avatar.thumb.url) if resource.avatar? %><br>
      <%= f.file_field :avatar, id: :avatar %>
    </div>
  </div>




  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <br>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>



  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
