<%= form_with(model: house, local: true) do |form| %>
  <% if house.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(house.errors.count, "error") %> prohibited this house from being saved:</h2>

      <ul>
      <% house.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :house_name %>
  </div>

  <div class="field">
    <%= form.label :street %>
    <%= form.text_field :street, id: :house_street %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.number_field :number, id: :house_number %>
  </div>

  <div class="field">
    <%= form.label :postalcode %>
    <%= form.number_field :postalcode, id: :house_postalcode %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :house_city %>
  </div>

  <div class="field">
    <%= form.label :about %>
    <%= form.text_area :about, id: :house_about %>
  </div>

  <div class="image">
    <%= form.label :image %><br>
    <%= image_tag(house.HouseImage.thumb.url) if house.HouseImage? %><br>
    <%= form.file_field :HouseImage, id: :house_HouseImage %>
  </div>

  <br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
