<p id="notice"><%= notice %></p>

<h1>Houses</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Street</th>
      <th>Number</th>
      <th>Postalcode</th>
      <th>City</th>
      <th>About</th>
      <th>House Owner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @houses.each do |house| %>
      <tr>
        <td><%= image_tag house.HouseImage.small_thumb.url%></td>
        <td><%= house.name %></td>
        <td><%= house.street %></td>
        <td><%= house.number %></td>
        <td><%= house.postalcode %></td>
        <td><%= house.city %></td>
        <td><%= house.about %></td>
        <td><%#= house.house_manager.email %></td>
        <td><%= link_to 'Groups', house_groups_path(house) %></td>
        <td><%= link_to 'Show', house %></td>
        <td><%= link_to 'Edit', edit_house_path(house) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New House', new_house_path %>

<br>

<br>
<br>
<div>
  <%= link_to 'Back Home', root_path %>
</div>
