<p id="notice"><%= notice %></p>

<h1>Houses</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>House Manager</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @houses.each do |house| %>
      <tr>
        <td><%= link_to (image_tag house.HouseImage.small_thumb.url), house %></td>
        <td><%= link_to house.name, house %></td>
        <td><%= house.street %> <%= house.number %></td>
        <td><%= house.postalcode %> <%= house.city %></td>
        <td><%= house.house_manager.email%></td>
        <td><%= link_to 'Edit', edit_house_path(house) if can? :update, house %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button type="button" class="btn btn-outline-secondary btn-sm">
  <%= link_to 'New House', new_house_path %>
</button>
