<p id="notice"><%= notice %></p>

<p>

  <h3><strong>Name:</strong>
  <%= @house.name %></h3>

</p>

<p>
  <strong>This is our house:</strong>
  <br>
  <%= image_tag @house.HouseImage.url%>
</p>

<p>
  <strong>Street:</strong>
  <%= @house.street %>
</p>

<p>
  <strong>Number:</strong>
  <%= @house.number %>
</p>

<p>
  <strong>Post Code:</strong>
  <%= @house.postalcode %>
</p>

<p>
  <strong>City:</strong>
  <%= @house.city %>
</p>

<p>
  <strong>About:</strong>
  <%= @house.about %>
</p>

<p>
  <strong>House Manager:</strong>
  <%= @house.users.first.email %>
</p>

<%# if can? :update, @house %>
  <%= link_to 'Edit', edit_house_path(@house) %> |
  <%= link_to 'Delete House', house_path, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%# end %>
<%= link_to 'Back', houses_path %>

<br>

<br>

<div>

  <h3>This house's groups:</h3>

  <% @house.groups.each do |group| %>
    <div>
      <strong><%= group.name %></strong>
      <%= group.about %>
      <%= link_to 'Show', house_group_path(@house, group)%>
    </div>
  <% end %>
</div>
<br>
<div>
  <%= link_to 'Create a new group for this house', new_house_group_path(@house, @group) %>
</div>

<br>
<div>
  <%= link_to 'Back to All Houses', houses_path %>
</div>
