<p id="notice"><%= notice %></p>

<p>
  <h1>
  <strong>Name:</strong>
  <%= @house.name %>
  </h1>
</p>

<p>
  <strong>Street:</strong>
  <%= @house.street %>
</p>

<p>
  <strong>Number:</strong>
  <%= @house.number %>
</p>

<p>
  <strong>Additionalinfo:</strong>
  <%= @house.additionalinfo %>
</p>

<p>
  <strong>Postalcode:</strong>
  <%= @house.postalcode %>
</p>

<p>
  <strong>City:</strong>
  <%= @house.city %>
</p>

<p>
  <strong>About:</strong>
  <%= @house.about %>
</p>

<%= link_to 'Edit', edit_house_path(@house) %> |
<%= link_to 'Back', houses_path %>

<br>
<br>

<div>
  <h2>This house's groups:</h2>
  <% @house.groups.each do |group| %>
    <div>
      <strong><%= group.name %></strong>
      <%= group.about %>
      <%= link_to 'Show', house_group_path(@house, group)%>
    </div>
  <% end %>
</div>
<br>
<div>
  <%= link_to 'Create a new group for this house', new_house_group_path(@house, @group) %>
</div>
<br>
<div>
  <%= link_to 'Back to All Houses', houses_path %>
</div>
