<p id="notice"><%= notice %></p>

<h3><%= @house.name %></h3>

<p>
  <strong>This is our house:</strong>
  <br>
  <%= image_tag @house.HouseImage.url%>
</p>

<p>
  <strong>Address:</strong>
  <%= @house.street %>
  <%= @house.number %>
</p>

<p>
  <strong>City:</strong>
  <%= @house.postalcode %>
  <%= @house.city %>
</p>

<p>
  <strong>About:</strong>
  <%= @house.about %>
</p>

<p>
  <strong>House Manager:</strong>
  <%= @house.house_manager.email %>
</p>

<% if can? :update, @house %>
  <button type="button" class="btn btn-outline-secondary">
    <%= link_to 'Edit', edit_house_path(@house) %>
  </button>
<% end %>
<% if can? :destroy, @house %>
  <button type="button" class="btn btn-outline-secondary">
    <%= link_to 'Delete', house_path, method: :delete, data: { confirm: 'Are you sure?' } %>
  </button>
<% end %>

<p>
  <button type="button" class="btn btn-outline-secondary">
    <%= link_to 'Join House', :controller => "houses", :action => "send_houses_mail", :id => @house.id  %>
  </button>
</p>

<br>

<br>

<% if can? :manage, Group %>
<div>

  <h4>This house's groups:</h4>
  <%= link_to 'Show all', house_groups_path(@house) %>

  <% @house.groups.each do |group| %>
    <div>
      <strong>
      <% if can? :manage, group %>
        <%= link_to group.name, house_group_path(@house, group)  %>
      <% else %>
        <%= group.name %>
      <% end %>
      </strong>
    </div>
  <% end %>
</div>

<br>
<button type="button" class="btn btn-outline-secondary btn-sm">
  <%= link_to 'Create New Group', new_house_group_path(@house, @group) %>
</button>

<% end %>

<br>
<br>
<button type="button" class="btn btn-outline-secondary">
  <%= link_to 'Back to All Houses', houses_path %>
</button>
<button type="button" class="btn btn-outline-secondary">
  <%= link_to 'Back Home', root_path %>
</button>
