<p id="notice"><%= notice %></p>

<h1>Tasks of Group: <%= @group.name %></h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Task Owner</th>
      <th>Deadline</th>
      <th>Status</th>
      <th>Completed since:</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @group.tasks.each do |task| %>
      <tr>
        <td><%= link_to task.name, house_group_task_path(@house, @group, task) %></td>
        <td><%= task.user.nickname %></td>
        <td><%= task.duedate.strftime("%d %b %Y") %></td>
        <% if task.completed %>
          <td>Done</td>
        <% else %>
          <td>Open</td>
        <% end %>
        <td><%= task.updated_at.strftime("%d/%m/%Y %I:%M%p") if task.completed %></td>
        <td>
          <%= form_with(model: task, url: [@house, @group, task], local: true) do |form| %>
            <%= form.hidden_field :completed, value: :true %>
            <%= form.submit "I did it!", class: "btn btn-outline-secondary btn-sm" %>
          <% end %>
        </td>
        <td><%= link_to 'Edit', edit_house_group_task_path(@house, @group, task) %></td>
        <td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button type="button" class="btn btn-outline-secondary btn-sm">
  <%= link_to 'New Task', new_house_group_task_path %>
</button>

<button type="button" class="btn btn-outline-secondary btn-sm">
  <%= link_to 'Back to Group', house_group_path(@house, @group)%>
</button>
