<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <br>
  <%= @task.name %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @task.user.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Duedate:</strong>
  <%= @task.duedate %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @task.completed %>
</p>

<%= link_to 'Edit', edit_house_group_task_path(@house, @group, @task) %> |
<%= link_to 'Delete', house_group_task_path(@house, @group, @task), method: :delete, data: { confirm: 'Are you sure?' }  %> <br>
<%= link_to 'Back to Tasks', house_group_tasks_path %> |
<%= link_to 'Back to Group', house_groups_path %>

<br>
<%= link_to 'Create another task', new_house_group_task_path %>
