<p id="notice"><%= notice %></p>

<h3><%= @task.name %></h3>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @task.user.email %>
</p>

<p>
  <strong>Duedate:</strong>
  <%= @task.duedate %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @task.completed ? 'Yes' : 'No' %>
</p>

<button type="button" class="btn btn-outline-secondary">
  <%= link_to 'Edit', edit_house_group_task_path(@house, @group, @task) %>
</button>
<button type="button" class="btn btn-outline-secondary">
  <%= link_to 'Delete', house_group_task_path(@house, @group, @task), method: :delete, data: { confirm: 'Are you sure?' }  %>
</button>
<br>
<br>
<button type="button" class="btn btn-outline-secondary">
  <%= link_to 'Back to All Tasks', house_group_tasks_path %>
</button>
<button type="button" class="btn btn-outline-secondary">
  <%= link_to 'Back to Group', house_group_path(@house, @group) %>
</button>
