<p id="notice"><%= notice %></p>

<section id="task">

  <div class="row">
    <div class="col-lg-3 offset-lg-9 text-lg-right text-center">
      <% if can? :manage, @group %>
          <%= link_to 'Edit', edit_house_group_task_path(@house, @group, @task), class: "btn-action" %>
          <%= link_to 'Delete', house_group_task_path(@house, @group, @task), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-action" %>
      <% end %>
    </div>
  </div>

  <section id="description">  
    <div class="row text-center padded">
      <div class="col-lg-8 offset-lg-2">
        <div class="card">
          <div class="card-header">
            <i class="fas fa-tasks"></i>
            <h5><%= @task.name %></h5>
          </div>
          <div class="card-body">
            <div class="user padded">
              <i class="far fa-user"></i>
              <h5 class="card-title"><%= @task.user.nickname %></h5>
            </div>
            <p class="card-text">
              <%= @task.description %>
            </p>
          </div>
          <div class="card-footer text-muted row no-row-margin">
            <% if @task.completed %>
              <div class="col-lg-8 offset-lg-2 text-center">
                Completed since <%= @task.updated_at.strftime("%d %b %Y %I:%M%p") %>
              </div>
              <div class="col-lg-2 text-lg-right text-centered completed">
                <i class="far fa-check-circle"></i>
              </div>
            <% else %>
              <div class="col-lg-8 offset-lg-2 text-center">
                Deadline: <%= @task.duedate.strftime("%d %b %Y") %>
                <% if @task.duedate.past? %>
                  <span class="red">(<%= (Date.today - @task.duedate).to_i %> days overdue)</span>
                <% else %>
                  <span>(due in <%= (@task.duedate-Date.today).to_i %> days)</span>
                <% end %>
              </div>
              <div class="col-lg-2 text-lg-right text-centered complete-task">
                <%= form_with(model: @task, url: [@house, @group, @task], local: true) do |form| %>
                  <%= form.hidden_field :completed, value: :true %>
                  <%= button_tag(type:'submit', data: { confirm: 'Have you really done this?' }) do %>
                    <i class="far fa-check-circle"></i>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>

</section>

<div class="centered-button">
  <%= link_to 'Back to All Tasks', house_group_tasks_path, class: "btn-get-started" %>
  <%= link_to 'Back To Group', house_group_path(@house, @group), class: "btn-get-started" %>
</div>
