<p id="notice"><%= notice %></p>

<h3><%= @task.name %></h3>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @task.user.nickname %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @task.duedate.strftime("%d %b %Y") %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @task.completed ? 'Yes' : 'No' %>
</p>

<p>
  <%= form_with(model: @task, url: [@house, @group, @task], local: true) do |form| %>
    <%= form.hidden_field :completed, value: :true %>
    <%= form.submit "I did it!", class: "btn btn-outline-secondary btn-sm" %>
  <% end %>
</p>

<p>
  <strong>Completed since:</strong>
  <%= @task.updated_at.strftime("%d/%m/%Y %I:%M%p") if @task.completed %>
</p>

<button type="button" class="btn btn-outline-secondary">
  <%= link_to 'Edit', edit_house_group_task_path(@house, @group, @task) %>
</button>
<button type="button" class="btn btn-outline-secondary">
  <%= link_to 'Delete', house_group_task_path(@house, @group, @task), method: :delete, data: { confirm: 'Are you sure?' }  %>
</button>
<br>
<br>
<button type="button" class="btn btn-outline-secondary">
  <%= link_to 'Back to All Tasks', house_group_tasks_path %>
</button>
<button type="button" class="btn btn-outline-secondary">
  <%= link_to 'Back to Group', house_group_path(@house, @group) %>
</button>
