<p id="notice"><%= notice %></p>

<h1>Groups of <%= @house.name %></h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>About</th>
      <th>Pending Tasks</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @house.groups.each do |group| %>
      <tr>
        <% if can? :manage, group %>
          <td><%= link_to group.name, house_group_path(@house, group) %></td>
        <% else %>
          <td><%= group.name %></td>
        <% end %>
        <td><%= group.about %></td>
        <td><%= group.tasks.count { |task| !task.completed? } %> <%= link_to 'All Tasks', house_group_tasks_path(@house, group) if can? :manage, group %></td>
        <td><%= link_to 'Edit', edit_house_group_path(@house, group) if can? :manage, group %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button type="button" class="btn btn-outline-secondary btn-sm">
  <%= link_to 'New Group', new_house_group_path %>
</button>

<button type="button" class="btn btn-outline-secondary btn-sm">
  <%= link_to 'Back to House', house_path(@house)%>
</button>
