<p id="notice"><%= notice %></p>

<h3><%= @group.name %></h3>

<p>
  <strong>About:</strong>
  <%= @group.about %>
</p>

<p>
  <strong>Initiated by:</strong>
  <%= @group.user.email %>
</p>

<% if can? :manage, @group %>
  <button type="button" class="btn btn-outline-secondary">
    <%= link_to 'Edit', edit_house_group_path(@house, @group) %>
  </button>
  <button type="button" class="btn btn-outline-secondary">
    <%= link_to 'Delete', house_group_path, method: :delete, data: { confirm: 'Are you sure?' } %>
  </button>
<% end %>

<br>
<br>


<h4>This group's tasks:</h4>
<%= link_to 'Show all', house_group_tasks_path(@house, @group) %>

<table>
  <thead>
    <tr>
      <th>Task</th>
      <th>Due Date</th>
      <th>Completed</th>
    </tr>
  </thead>

  <tbody>
    <% @group.tasks.each do |task| %>
    <tr>
      <td><strong><%= link_to task.name, house_group_task_path(@house, @group, task) %></strong></td>
      <td><%= task.duedate %></td>
      <td><%= task.completed ? 'Yes' : 'No' %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<button type="button" class="btn btn-outline-secondary btn-sm">
  <%= link_to 'Create New Task', new_house_group_task_path(@house, @group, @task) %>
</button>

<br>
<br>
<button type="button" class="btn btn-outline-secondary">
  <%= link_to 'Back To All Groups', house_groups_path %>
</button>
<button type="button" class="btn btn-outline-secondary">
  <%= link_to 'Back To House', house_path(@house) %>
</button>