<p id="notice"><%= notice %></p>

<section id="group">

  <div class="row">
    <div class="col-lg-6 offset-lg-3 text-center">
      <header class="section-header wow fadeInUp">
        <h3 class="section-title"><%= @group.name %></h3>
      </header>
    </div>
    <div class="col-lg-3 text-lg-right text-center">
      <% if can? :manage, @group %>
          <%= link_to 'Edit', edit_house_group_path(@house, @group), class: "btn-action" %>
          <%= link_to 'Delete', house_group_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-action" %>
      <% end %>
    </div>
  </div>

  <section id="description">
    <div class="row padded">
      <div class="col-lg-8 offset-lg-2 text-center">
        <h4>Our Mission:</h4>
        <%= @group.about %>
      </div>
    </div>

    <div class="row text-center padded">
      <div class="col-lg-4 offset-lg-4 col-md-8 offset-md-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Initiator:</h5>
            <div class="user">
              <i class="far fa-user"></i>
              <h5 class="card-title"><%= @group.user.nickname %></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="sub-items">
    <div class="row padded">
      <div class="col-lg-6 offset-lg-3 text-center">
        <h4>Tasks:</h4>
      </div>
      <div class="col-lg-3 text-lg-right text-center">
        <%= link_to 'New Task', new_house_group_task_path(@house, @group, @task), class: "btn-action-inv" %>
      </div>
    </div>

    <div class="row">
      <% if @group.tasks.any? %>
      <% @group.tasks.each do |task| %>
      <div class="col-md-4 box wow bounceInUp" data-wow-duration="1.4s">
        <div class="icon"><i class="fas fa-tasks"></i></div>
        <h5 class="title"><%= link_to task.name, house_group_task_path(@house, @group, task) %></h5>
        <p class="description completed">
          <% if task.completed %>
            <i class="far fa-check-circle"></i> Done!
          <% else %>
            Due by <%= task.duedate.strftime("%d %b %Y") %>
          <% end %>
        </p>
      </div>
      <% end %>
      <% else %>
        <h6>Nothing to do in this group yet!</h6>
      <% end %>
    </div>
    <div class="centered-button">
      <%= link_to 'Show all', house_group_tasks_path(@house, @group), class: "cta-btn" %>
    </div>
  </section><!-- end #sub-items-->

</section><!-- end #group-->

<div class="centered-button">
  <%= link_to 'Back to All Groups', house_groups_path, class: "btn-get-started" %>
  <%= link_to 'Back To House', house_path(@house), class: "btn-get-started" %>
</div>
