
<div class="container-fluid">
	<div class="row">
		<% @last_houses.each do |house| %>
			<div class="col-4">
				<%= link_to (image_tag house.HouseImage.thumb.url), house%>
				<br></br>
				<h6><%= link_to house.name, house %></h6>
				<p>Located in: <%= house.city %></p>
				<p>Managed by: <%= house.house_manager.email %> </p>
					<% house.groups.each do |group| %>
						<div>
							<%= group.name %>
						</div>
					<% end %>
					<button type="button" class="btn btn-outline-secondary btn-sm">
						<%= link_to 'Show House', house %>
					</button>
			</div>
		<% end %>
	</div>
</div>

<br>


<div>
  <button type="button" class="btn btn-outline-secondary">
  <%= link_to 'Show All Houses', houses_path %>
  </button>

  <button type="button" class="btn btn-outline-secondary">
  <%= link_to 'Create New House', new_house_path %>
  </button>
</div>
