<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<h1 class="display-4">Housemate</h1>
			<p class="lead">Welcome to Housemate</p>
	</div>
</div>


<br>

<div class="row">
	<% @houses.each do |house| %>
		<div class="col-4">
			<strong><%= house.name %></strong>
			<%= house.city %>
			<br>

			<% house.groups.each do |group| %>
			  <div>
					<%= group.name %>
				</div>
      
			<% end %>
			<%= link_to 'Show House', house %>
		</div>
	<% end %>
</div>

<br>

<%= link_to 'Show All Houses', houses_path %>

<br>

<%= link_to 'Create New House', new_house_path %>
