<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<h1 class="display-4">Housemate</h1>
			<p class="lead">Welcome to Housemate</p>
	</div>
</div>


<br>

<div class="container-fluid">
	<div class="row">
		<% @last_houses.each do |house| %>
			<div class="col-4">
				<%= link_to (image_tag house.HouseImage.thumb.url), house%>
				<br>
				<strong><%= link_to house.name, house %></strong>
				<%= house.city %>
				<br>
					<% house.groups.each do |group| %>
						<div>
							<%= group.name %>
						</div>
					<% end %>
					<%= link_to 'Show House', house %>
			</div>
		<% end %>
	</div>
</div>

<br>

<%= link_to 'Show All Houses', houses_path %>

<br>

<%= link_to 'Create New House', new_house_path %>
