<nav class="navbar navbar-default">	
	<div class="container">
		<p class="navbar-brand"> <%= link_to "Housemate", root_path %></p>
		
    <% if user_signed_in? %>
      <ul class="nav navbar-nav navbar-right">
  	 		<li><%= link_to "New House", new_house_path %></li>
  	 		<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
  	  </ul>
		 
    <% else %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <li><%= link_to "Sign In", new_user_session_path %></li>
      </ul>
    <% end %>
    </div>
</nav>


<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<h1 class="display-4">Housemate</h1>
			<p class="lead">Welcome to Housemate</p>
	</div>
</div>


<br>

<div class="container-fluid">
	<div class="row">
		<% @last_houses.each do |house| %>
			<div class="col-4">
				<%= link_to (image_tag house.HouseImage.thumb.url), house%>
				<br>
				<strong><%= link_to house.name, house %></strong>
				<%= house.city %>
				<br>
					<% house.groups.each do |group| %>
						<div>
							<%= group.name %>
						</div>
					<% end %>
					<button type="button" class="btn btn-outline-secondary btn-sm">
						<%= link_to 'Show House', house %>
					</button>
			</div>
		<% end %>
	</div>
</div>

<br>



<button type="button" class="btn btn-outline-secondary">
	<%= link_to 'Show All Houses', houses_path %>
</button>

<br>
<button type="button" class="btn btn-outline-secondary">
<%= link_to 'Create New House', new_house_path %>
</button>
