<h1>Home</h1>

<div>
	
	<% @houses.each do |house| %>
		<div>
			<strong><%= house.name %></strong>
			<%= house.city %>
			<br>
			<%house.groups.each do |group| %>
			<div>
				<%= group.name %>
			</div>
			<% end %>
			<%= link_to 'Show House', house %>
		</div>
	<% end %>
</div>

<br>

<%= link_to 'Show All Houses', houses_path %>

<br>

<%= link_to 'Create New House', new_house_path %>
