<!--==========================
  Portfolio Section
============================-->
<section id="portfolio"  class="section-bg" >
  <div class="container">

    <header class="section-header">
      <h3 class="section-title">Welcome to Housemate</h3>
    </header>

    <div class="row">
      <% @last_houses.each do |house| %>
        <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
          <div class="portfolio-wrap">
            <figure>
              <%= link_to (image_tag house.HouseImage.thumb.url), house, class: "img-fluid"%>
              <!-- <a href="img/portfolio/app1.jpg" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
              <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a> -->
            </figure>

            <div class="portfolio-info">
              <h4><%= link_to house.name, house %></h4>
              <% if !house.city.empty? %>
                <p>This home is in <%= house.city %></p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <% if user_signed_in? %>
    <div class="centered-button">
      <%= link_to 'Show All Houses', houses_path, class: "btn-get-started" %>
      <%= link_to 'Create New House', new_house_path, class: "btn-get-started" %>
    </div>
    <% end %>
  </div>
</section><!-- #portfolio -->


<!--==========================
  Call To Action Section
============================-->
<% if !user_signed_in? %>
<section id="call-to-action" class="wow fadeIn">
  <div class="container text-center">
    <h3>Join our community</h3>
    <p>Thousands of students, young professionals, singles, couples and families live in shared accommodation around the world. Discover how <strong>HouseMate</strong> can make shared living easier for you and join our community by registering your home.</p>
    <%= link_to 'Join HouseMate', new_user_registration_path, class: "cta-btn" %>
  </div>
</section><!-- #call-to-action -->
<% end %>

<!--==========================
  Facts Section
============================-->
<section id="facts"  class="wow fadeIn">
  <div class="container">

    <header class="section-header">
      <h3>Facts</h3>
      <p>Our community keeps growing with many already registered. Come join us as well!</p>
    </header>

    <div class="row counters">

      <div class="col-lg-3 col-6 text-center">
        <span><%= @houses.count %></span>
        <p>Homes</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span><%= @groups.count %></span>
        <p>Groups</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span><%= @tasks.count %></span>
        <p>Tasks</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span><%= @users.count %></span>
        <p>Housemates</p>
      </div>

    </div>

  </div>
</section><!-- #facts -->

