<!DOCTYPE html>
<html>
  <head>
    <title>HouseMate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= csrf_meta_tags %>

  <!-- external CSS stylesheets -->
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700','application' %>
    <%= stylesheet_link_tag 'https://use.fontawesome.com/releases/v5.6.0/css/all.css' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/superfish/1.7.10/css/superfish.min.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag %>

  <!-- scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/superfish/1.7.10/js/superfish.min.js"></script>

  </head>

  <body>

    <!--==========================
    Header
    ============================-->
    <header id="header">
      <div class="container-fluid">

        <div id="logo" class="pull-left">
          <%= link_to image_tag("housemate_wortmarke.png"), root_path, class: "scrollto" %>
          <%#= link_to "HouseMate", root_path, class: "scrollto" %>
        </div>

        <nav id="nav-menu-container">
          <ul class="nav-menu">
<!--             <li class="menu-active"><a href="#intro">Home</a></li>
            <li><a href="#about">About Us</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#team">Team</a></li> -->
            <% if user_signed_in? %>
              <li class="menu-has-children">
                <a href="">
                  Hi,
                  <% if current_user.nickname? %>
                    <%= current_user.nickname %>
                  <% else %>
                    <%= current_user.email %>
                  <% end %>
                </a>
                <ul>
                  <li><%= link_to "My Profile", user_path(current_user) %></li>
                  <li><%= link_to 'My Dashboard', user_dashboard_path(current_user) %></li>
                  <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to "About", root_path %></li>
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
              <li><%= link_to "Sign In", new_user_session_path %></li>
            <% end %>
          </ul>
        </nav><!-- #nav-menu-container -->
      </div>
    </header><!-- #header -->

    <!--==========================
    Alert
    ============================-->
    <% if alert %>
      <p class="alert alert-danger alert-dismissible fade show"><%= alert %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </p>
    <% end %><!-- Alert -->
    
    <% if !(is_dashboard? || is_index?) %>
      <% section_class = "container" %>
    <%end %>
    <section id="main" class=<%= section_class %> >
      <%= yield %>
    </section>

    <!--=========================
    Back to Top button
    ==========================-->
    <a href="#" class="back-to-top" id="btt"><i class="fa fa-chevron-up"></i></a>

  </body>
</html>
