<!DOCTYPE html>
<html>
  <head>
    <title>Housemate</title>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Comfortaa|Lato','application.css' %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="container">
      <%= yield %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
  </body>
</html>
