<!DOCTYPE html>
<html>
  <head>
    <title>Housemate</title>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Comfortaa|Lato','application.css' %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light"
    <div class="row">
      <div class= "col-4">
        <img src=“” class=“d-inline-block align-top” alt=“logo”>
        <h1><%= link_to "Housemate", root_path %></h1>
      </div>

      <div class="col-8">
        <% if user_signed_in? %>
          <div class="nav navbar-nav ml-auto">
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Hi,
              <% if current_user.nickname? %>
                <%= current_user.nickname %>
              <% else %>
                <%= current_user.email %>
              <% end %>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <p><%= link_to "My Profile", user_path(current_user) %></p>
                <p><%= link_to 'My Dashboard', user_dashboard_path(current_user) %></p>
                <p><%= link_to "New House", new_house_path %>
                </p>
                <p><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></p>
            </div>
            </div>
          </div>
        <% else %>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item nav-link">
               <%= link_to "About", root_path %>
            <li class="nav-item nav-link">
                <%= link_to "Sign Up", new_user_registration_path %>
            </li>
            <li class="nav-item nav-link">
             <%= link_to "Sign In", new_user_session_path %>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </nav>

<br>

    <div class="container">
      <% if alert %>
        <p class="alert alert-danger alert-dismissible fade show"><%= alert %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </p>
      <% end %>
      <%= yield %>
    </div>

  </body>
</html>
